@import "tailwindcss";

@layer base {

    /* Variable regular */
    @font-face {
        font-family: "Manrope";
        src: url("../assets/static/Manrope-Regular.ttf") format("truetype");
        font-style: normal;
        font-weight: 400;
        font-display: swap;

    }

    /* Variable bold */
    @font-face {
        font-family: "Manrope";
        src: url("../assets/static/Manrope-Bold.ttf") format("truetype");
        font-style: bold;
        font-weight: 600;
        font-display: swap;

    }

    /* Variable medium */
    @font-face {
        font-family: "Manrope";
        src: url("../assets/static/Manrope-Medium.ttf") format("truetype");
        font-style: normal;
        font-weight: 500;
        font-display: swap;


    }

}

@theme {

    --font-sans: "Manrope", ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
    --font-man: "Manrope", ui-sans-serif, system-ui, sans-serif;
    --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;

    --text-preset-1: 20px;
    --text-preset-1--font-weight: bold;
    --text-preset-1--line-height: 130%;
    --text-preset-1--letter-spacing: 0.25px;


    --text-preset-2: 13px;
    --text-preset-2--font-weight: bold;
    --text-preset-2--line-height: 140%;
    --text-preset-2--letter-spacing: 0.12px;

    --text-preset-2-medium: 13px;
    --text-preset-2-medium--font-weight: normal;
    --text-preset-2-medium--line-height: 140%;
    --text-preset-2-medium--letter-spacing: 0.12px;

    --text-preset-3: 13px;
    --text-preset-3--font-weight: normal;
    --text-preset-3--line-height: 140%;
    --text-preset-3--letter-spacing: 25%;

    --color-white: #FFFFFF;
    --color-grey-900: #48556A;
    --color-grey-500: #6E8098;
    --color-grey-400: #9DAEC2;
    --color-grey-200: #ECF2F8;


    --spacing-0: 0;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;
    --spacing-1300: 104px;
    --spacing-2000: 160px;
}

.card {
    @apply max-w-[327px] shadow-xl;
    @apply md:max-w-[608px] md:flex md:min-h-[346px];
    @apply lg:max-w-[730px] lg:flex lg:min-h-[280px];
}